<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sheldon.sanjiaodi">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.ContentActivity" />
        <activity
            android:name=".Activity.ImageActivity"
            android:theme="@style/AppImageTheme" />
        <activity android:name=".Activity.ShoppingActivity" />
        <activity android:name=".Activity.InfoSampleActivity" />
        <activity android:name=".Activity.OfficeActivity" />
        <activity android:name=".Activity.MetroActivity" />
        <activity android:name=".Activity.AttendActivity" />
        <activity android:name=".Activity.MyselfActivity" />
        <activity android:name=".Activity.PhoneActivity"/>
        <activity android:name=".Activity.MyselfAlertActivity" />
        <activity android:name=".Activity.TagActivity" />
        <activity android:name=".Activity.PasswordActivity" />
        <activity android:name=".Activity.UploadActivity"/>
    </application>

</manifest>
